* {
    margin: 0;
    padding: 0;
    font-family: tahoma;
    font-size: 15px;
}

.top-header span {
    font-size: 13px;
}

.top-header {
    background: linear-gradient(to left, #303dee, #0c2386, #4e1add);
}

.main-menu-area {
    background: linear-gradient(to left, #303dee, #0c2386, #4e1add);
}

.main-menu-area a,
.main-menu-area span {
    color: #fff;
    font-size: 19px;
    text-transform: capitalize;
}

.main-menu-area>div>a>img {
    height: auto;
    width: 59px;
}

.hr-custom {
    margin: 0;
    padding: 0;
    border-color: #070707;
    border-width: 1px;
}

.slider-area h5,
.slider-area p {
    color: #f3f3f3;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
}

.slider-area h5 {
    font-size: 31px;
}

.about-us-area {
    Padding: 75px 0;
}
.about-us-area h2 {
    text-transform: uppercase;
    border-bottom: 3px solid ;
    border-image: linear-gradient(to left, #303dee, #0c2386, #4e1add);
    border-image-slice: 1;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

.gradient-bg {    
    background: linear-gradient(to left, #303dee, #0c2386, #4e1add);
    color: #fff;
}
.about-us-area .btn-color {
    background: linear-gradient(to left, #303dee, #0c2386, #4e1add);
    color: #fff;
    font-weight: 700;
}
.padding {
    padding: 79px 0;

}

.pd-10 {
    padding-bottom: 10px;
}


.row-area {
    margin: 41px;
}

.mtop-25 {
    margin-top: 35px;
    padding: 25px;
    text-align: justify;
}

#latest-blog {
    background-color: #f8f9fa;
}

#latest-blog h2 {
    color: #444;
}

#latest-blog .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#latest-blog .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

#latest-blog .card-text {
    font-size: 0.9rem;
    color: #666;
}

.get-in-touch {
    background-image: url(images/footer_home_3_bg-scaled.jpg);
    color: #fff;
}
.get-in-touch h2 {
    padding-bottom: 39px;
}
.get-in-touch .pb {
    padding: 5px 0;
}
.hero, .svc-hero {
    background-image: url(images/inner_01.jpg);
    background-position: center center;
    font-family: tahoma;
}
.svc-hero {
    background-image: url(images/inner_06.jpg);
    background-position: top right;
    
}
.hero h2, .svc-hero h2 {
    padding-bottom: 30px;
}
.font-fff {
    color: #fff;
}
.w-office {
    background-image: url(images/services-section00.jpg);
    background-position: cover cover;
}

.padding-top {
    padding-top: 45px;
}

.post-con h2, .post-con h3 {
    padding: 10px 0;
}


.padding-2 {
    padding: 25px 0;
}









@media (max-width:991.99px) {
    .top-header {
        background: linear-gradient(to left, #303dee, #0c2386, #4e1add);
    }

    .main-menu-area {
        background: linear-gradient(to left, #dddfee, #0c2386, #4e1add);
    }
}



@media (max-width:575px) {
    .text-center-575 {
        text-align: center;
        justify-content: center !important;
    }

    .d-xs-none {
        display: none !important;
    }
}