* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma;
    font-size: 14px;
    background: #020614;
}

body input {
    font-family: poppins;
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    padding: 30px;
}

.login-form h2 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.form-control {
    border-color: #ddd;
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: #4aba70;
    box-shadow: none;
}

.btn {
    background-color: #4aba70;
    border-color: #4aba70;
    color: #fff;
    border-radius: 0;
}

.btn:hover,
.btn:focus {
    background-color: #3d8e5d;
    border-color: #3d8e5d;
}